#detailedContainer{
    width: 60vw;
    margin: 2vh 20vw 0 20vw;

    border: 0.3vw solid #3c4042;
    border-radius: 2vw;

    text-align: center;
}
#detailedContainer>h2{
    color: white;
    font-weight: bolder;
}

#searchingMessageDet,#Message404Det{
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
}

#detailName{
    color: #4c96d5;
}

#detailedImgShell{
    margin: 0 auto 4vh auto;
    width: 50vw;
    height: 28.14vw;
    border-radius: 1vw;
}
#detailedImg{
    width: 100%;
    height: 100%;
}

#detailedDescriptionShell{
    width: 50vw;
    margin: 2vh auto 2vh auto;
    color: lightgray;
    font-size: 1em;
}
#detailedDescriptionShell>p,.descDetailed{
    color: lightgray;
}
.descDetailed{
    width: 50vw;
    margin: 0vh auto 0vh auto;
}

#shellMiddlesDetailed{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 30vw;
    height: 7vh;
    margin: 0 15vw 0 15vw;
}

.detailedPlatGenre{
    color: black;
    background-color: #3c4042;
    height: 3vh;
    margin: 0;
    margin-top: 0,2vh;
    margin-left: 0.3vw;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    border-radius: 2vw;
}