.videogameContainer{
    width: 35vw;
    height: 50vh;
}
.imgHolderCardVG{
    width: 30vw;
    height: 16.88vw;
}
.imgCardVG{
    width: 100%;
    height: 100%;
}

.genresCard{

}

.genresCardShell{
    
}