#showAllContainer{
    padding-top: 2vh;
    background-color: #181a1b;
}
#showAllCards{
    display: flex;
    flex-direction: row;
}
#optionsContainer{
    display: flex;
    flex-direction:column;

    height: 10vh;
    width: 15vw;
}
#filterShell{
    width: 100%;
    text-align: center;
}
#orderShell{
    width: 100%;

    text-align: center;
}

#videogamesWholeContainer{
    width: 85vw;
    padding: 0 3.5vw 0 3.5vw;
}